$colorPaletteGreenGreen1100: #0e2a21;    
$colorPaletteGreenGreen1000: #1c4130;    
$colorPaletteGreenGreen900: #2d6944;    
$colorPaletteGreenGreen800: #3c884d;    
$colorPaletteGreenGreen700: #4ca45a;    
$colorPaletteGreenGreen600: #5ab261;    
$colorPaletteGreenGreen500: #78c767;    
$colorPaletteGreenGreen400: #8fda75;    
$colorPaletteGreenGreen300: #a9e297;    
$colorPaletteGreenGreen200: #ccf0c2;    
$colorPaletteGreenGreen100: #ddf3d9;    
$colorPaletteGreenGreen0: #eef9ec;    
$colorPaletteBlueBlue1100: #082036;    
$colorPaletteBlueBlue1000: #18395d;    
$colorPaletteBlueBlue900: #245685;    
/* This is our new main color :) */
$colorPaletteBlueBlue800: #306ca5;    
$colorPaletteBlueBlue700: #3a79bd;    
$colorPaletteBlueBlue600: #4587cd;    
$colorPaletteBlueBlue500: #5196dd;    
$colorPaletteBlueBlue400: #6aacef;    
$colorPaletteBlueBlue300: #aad2f4;    
$colorPaletteBlueBlue200: #cde3f7;    
$colorPaletteBlueBlue100: #e0f1fe;    
$colorPaletteBlueBlue0: #ecf8fe;    
/* Darkest aqua there is */
$colorPaletteAquaAqua1100: #0b2737;    
/* Slightly less aquatic, still deep as an ocean */
$colorPaletteAquaAqua1000: #193c4d;    
$colorPaletteAquaAqua900: #265d71;    
$colorPaletteAquaAqua800: #316c82;    
$colorPaletteAquaAqua700: #3a8396;    
$colorPaletteAquaAqua600: #4295ab;    
$colorPaletteAquaAqua500: #54b5cb;    
$colorPaletteAquaAqua400: #6ad3df;    
$colorPaletteAquaAqua300: #91e2e1;    
$colorPaletteAquaAqua200: #b5f0f1;    
$colorPaletteAquaAqua100: #d0f7f8;    
$colorPaletteAquaAqua0: #e0fbfb;    
$colorPalettePurplePurple1100: #1d1e36;    
$colorPalettePurplePurple1000: #2b2667;    
$colorPalettePurplePurple900: #453e96;    
$colorPalettePurplePurple800: #5a52b4;    
$colorPalettePurplePurple700: #6b62cc;    
$colorPalettePurplePurple600: #7d73e2;    
$colorPalettePurplePurple500: #8d84ed;    
$colorPalettePurplePurple400: #9e95ec;    
$colorPalettePurplePurple300: #c0c2f3;    
$colorPalettePurplePurple200: #d8d8f6;    
$colorPalettePurplePurple100: #eaeaf8;    
$colorPalettePurplePurple0: #f2f2f8;    
$colorPaletteNeutralNeutral1100: #040404;    
$colorPaletteNeutralNeutral1000: #182020;    
$colorPaletteNeutralNeutral900: #293333;    
$colorPaletteNeutralNeutral800: #384141;    
$colorPaletteNeutralNeutral700: #545e5f;    
$colorPaletteNeutralNeutral600: #70797a;    
$colorPaletteNeutralNeutral500: #939a9b;    
$colorPaletteNeutralNeutral400: #b1b6b7;    
$colorPaletteNeutralNeutral300: #c9cccc;    
$colorPaletteNeutralNeutral200: #dfe1e1;    
$colorPaletteNeutralNeutral100: #f3f4f4;    
$colorPaletteNeutralNeutral0: #ffffff;    
$colorPaletteTealTeal1100: #0b2427;    
$colorPaletteTealTeal1000: #1b3e3e;    
$colorPaletteTealTeal900: #2a6461;    
$colorPaletteTealTeal800: #357a7b;    
$colorPaletteTealTeal700: #42948e;    
$colorPaletteTealTeal600: #4aa69c;    
$colorPaletteTealTeal500: #58c1b2;    
$colorPaletteTealTeal400: #6addc6;    
$colorPaletteTealTeal300: #97e7d5;    
$colorPaletteTealTeal200: #c0f0e6;    
$colorPaletteTealTeal100: #d5f6ef;    
$colorPaletteTealTeal0: #e9f8f5;    
$colorPalettePinkPink1100: #281821;    
$colorPalettePinkPink1000: #4f1930;    
$colorPalettePinkPink900: #872647;    
$colorPalettePinkPink800: #a43b5b;    
$colorPalettePinkPink700: #be4466;    
$colorPalettePinkPink600: #cf517c;    
$colorPalettePinkPink500: #de638b;    
$colorPalettePinkPink400: #ee7fad;    
$colorPalettePinkPink300: #f19bc0;    
$colorPalettePinkPink200: #f4b8d4;    
$colorPalettePinkPink100: #f7dcea;    
$colorPalettePinkPink0: #fbeaf2;    
$colorPaletteRedRed1100: #281212;    
$colorPaletteRedRed1000: #641c18;    
$colorPaletteRedRed900: #8d2d28;    
$colorPaletteRedRed800: #b6403b;    
$colorPaletteRedRed700: #ca4b45;    
$colorPaletteRedRed600: #dc584a;    
$colorPaletteRedRed500: #e56a5b;    
$colorPaletteRedRed400: #ef8674;    
$colorPaletteRedRed300: #f1a193;    
$colorPaletteRedRed200: #f4bbb3;    
$colorPaletteRedRed100: #f8d7d3;    
$colorPaletteRedRed0: #fbebe9;    
$colorPaletteOrangeOrange1100: #2a140f;    
$colorPaletteOrangeOrange1000: #581d09;    
$colorPaletteOrangeOrange900: #8a341a;    
$colorPaletteOrangeOrange800: #bf5c29;    
$colorPaletteOrangeOrange700: #de763a;    
$colorPaletteOrangeOrange600: #e68246;    
$colorPaletteOrangeOrange500: #ee8e53;    
$colorPaletteOrangeOrange400: #f2a069;    
/* This is our main color. And this description will show inside the documentation */
$colorPaletteOrangeOrange300: #f4b388;    
$colorPaletteOrangeOrange200: #f6c7a9;    
$colorPaletteOrangeOrange100: #f7ddce;    
$colorPaletteOrangeOrange0: #fceee4;    
$colorPaletteYellowYellow1100: #2a1b08;    
$colorPaletteYellowYellow1000: #4e2c0b;    
$colorPaletteYellowYellow900: #8b4f1f;    
$colorPaletteYellowYellow800: #b0772a;    
$colorPaletteYellowYellow700: #d49b35;    
$colorPaletteYellowYellow600: #f6be41;    
$colorPaletteYellowYellow500: #f8ce4c;    
$colorPaletteYellowYellow400: #fad961;    
$colorPaletteYellowYellow300: #fbe17f;    
$colorPaletteYellowYellow200: #fbe9a4;    
$colorPaletteYellowYellow100: #fbeed1;    
$colorPaletteYellowYellow0: #fef8e4;    
$colorPaletteMagentaMagenta1100: #271a2c;    
$colorPaletteMagentaMagenta1000: #3f1a4e;    
$colorPaletteMagentaMagenta900: #642a73;    
$colorPaletteMagentaMagenta800: #854091;    
$colorPaletteMagentaMagenta700: #a04da3;    
$colorPaletteMagentaMagenta600: #b659b4;    
$colorPaletteMagentaMagenta500: #cc6bd5;    
$colorPaletteMagentaMagenta400: #e38aef;    
$colorPaletteMagentaMagenta300: #e3b1ee;    
$colorPaletteMagentaMagenta200: #ecc7f4;    
$colorPaletteMagentaMagenta100: #f5e4fa;    
$colorPaletteMagentaMagenta0: #fcf0fe;    
$colorSemanticPrimaryPrimaryActivebackground: #453e96;    
$colorSemanticPrimaryPrimaryHoverbackground: #5a52b4;    
$colorSemanticPrimaryPrimaryHovercolor: #ffffff;    
$colorSemanticPrimaryPrimaryBackground: #6b62cc;    
$colorSemanticPrimaryPrimaryColor: #ffffff;    
$colorSemanticTextTextInverse: #ffffff;    
$colorSemanticTextTextSubtext: #545e5f;    
$colorSemanticTextTextHeadline: #293333;    
$colorSemanticTextTextBody: #384141;    
$colorSemanticErrorErrorColor: #b6403b;    
$colorSemanticErrorErrorIcon: #b6403b;    
$colorSemanticErrorErrorBorder: #ef8674;    
$colorSemanticErrorErrorBackground: #f8d7d3;    
$colorSemanticWarningWarningColor: #8b4f1f;    
$colorSemanticWarningWarningIcon: #ba7506;    
$colorSemanticWarningWarningBorder: #fad961;    
$colorSemanticWarningWarningBackground: #fbeed1;    
$colorSemanticSuccessSuccessColor: #2d6944;    
$colorSemanticSuccessSuccessIcon: #3c884d;    
$colorSemanticSuccessSuccessBorder: #8fda75;    
$colorSemanticSuccessSuccessBackground: #ddf3d9;    
$colorSemanticInfoInfoColor: #3a79bd;    
$colorSemanticInfoInfoIcon: #306ca5;    
$colorSemanticInfoInfoBorder: #6aacef;    
$colorSemanticInfoInfoBackground: #e0f1fe;    
$colorSemanticOpportunityOpportunityColor: #357a7b;    
$colorSemanticOpportunityOpportunityIcon: #357a7b;    
$colorSemanticOpportunityOpportunityBorder: #6addc6;    
$colorSemanticOpportunityOpportunityBackground: #d5f6ef;    
$colorSemanticPrimaryPrimaryInnactivebackground: #d8d8f6;    
$colorSemanticPrimaryPrimaryBorder: #6b62cc;    
$colorSemanticPrimaryHoverinnactivebackground: #c0c2f3;    
$colorSemanticSaleSale70Background: #f6be41;    
$colorSemanticSaleSale50Background: #de638b;    
/* Some test description */
$colorSemanticSaleSale30Background: #58c1b2;    
$colorSemanticSaleSaleColor: #ffffff;    
$colorPrimaryText: #045d90;    
$colorPrimaryTextHover: #023659;    
$colorPrimaryTextActive: #022741;    
$colorPrimaryTextWeak: #c8c8c8;    
$colorPrimaryTextWeakHover: #cde3f2;    
$colorPrimaryTextWeakActive: #9bc7e6;    
$colorPrimaryTextStrong: #023659;    
$colorPrimaryTextStrongHover: #012741;    
$colorPrimaryTextStrongActive: #011828;    
$colorPrimaryBackground: #cde3f2;    
$colorPrimaryBackgroundHover: #9bc7e6;    
$colorPrimaryBackgroundActive: #69acd9;    
$colorPrimaryBackgroundWeak: #ffffff;    
$colorPrimaryBackgroundWeakHover: #cde3f2;    
$colorPrimaryBackgroundWeakActive: #9bc7e6;    
$colorPrimaryBackgroundStrong: #045d9a;    
$colorPrimaryBackgroundStrongHover: #034673;    
$colorPrimaryBackgroundStrongActive: #022e4d;    
$colorPrimaryBorder: #000000;    
$colorPrimaryBorderHover: #034673;    
$colorPrimaryBorderActive: #022e4d;    
$colorNeutralText: #202022;    
$colorNeutralTextWeak: #6b6b6b;    
$colorNeutralTextDisabled: #8c8c8c;    
$colorNeutralTextInverted: #ffffff;    
$colorNeutralBackground: #ffffff;    
$colorNeutralBackgroundMedium: #f7f7f7;    
$colorNeutralBackgroundStrong: #e8e8e8;    
$colorNeutralBackgroundDisabled: #f7f7f7;    
$colorNeutralBorder: #6b6b6b;    
$colorNeutralBorderWeak: #e8e8e8;    
$colorNeutralBorderHover: #202020;    
$colorNeutralBorderDisabled: #a6a6a6;    
$colorNeutralBorderWeakHover: #6b6b6b;    
$colorDangerText: #c34648;    
$colorDangerTextHover: #b53b3d;    
$colorDangerTextActive: #a23436;    
$colorDangerTextWeak: #ffffff;    
$colorDangerTextWeakHover: #ffe1e2;    
$colorDangerTextWeakActive: #ffc4c5;    
$colorDangerTextStrong: #a83335;    
$colorDangerTextStrongHover: #952d2f;    
$colorDangerTextStrongActive: #812729;    
$colorDangerBackground: #ffe1e2;    
$colorDangerBackgroundHover: #ffc4c5;    
$colorDangerBackgroundActive: #ffa7a9;    
$colorDangerBackgroundWeak: #ffffff;    
$colorDangerBackgroundWeakHover: #ffe1e2;    
$colorDangerBackgroundWeakActive: #ffc4c5;    
$colorSuccessText: #39812c;    
$colorSuccessTextHover: #316e26;    
$colorSuccessTextActive: #285b1f;    
$colorSuccessTextWeak: #ffffff;    
$colorSuccessTextWeakHover: #ddf2d9;    
$colorSuccessTextWeakActive: #ccebc6;    
$colorSuccessTextStrong: #316e26;    
$colorSuccessTextStrongHover: #295b1f;    
$colorSuccessTextStrongActive: #204819;    
$colorSuccessBackground: #ddf2d9;    
$colorDangerBackgroundStrong: #c34648;    
$colorDangerBackgroundStrongHover: #b53b3d;    
$colorDangerBackgroundStrongActive: #a23436;    
$colorDangerBorder: #c34648;    
$colorSuccessBackgroundHover: #ccebc6;    
$colorDangerBorderHover: #b53b3d;    
$colorSuccessBackgroundActive: #bbe5b3;    
$colorDangerBorderActive: #a23436;    
$colorSuccessBackgroundWeak: #ffffff;    
$colorSuccessBackgroundWeakHover: #ddf2d9;    
$colorSuccessBackgroundWeakActive: #ccebc6;    
$colorSuccessBackgroundStrong: #39812c;    
$colorSuccessBackgroundStrongHover: #316e26;    
$colorSuccessBackgroundStrongActive: #285b1f;    
$colorWarningText: #af4a0e;    
$colorWarningTextHover: #80360a;    
$colorWarningTextActive: #682c08;    
$colorWarningTextWeak: #ffffff;    
$colorWarningTextWeakHover: #fce6d9;    
$colorWarningTextWeakActive: #f8c7aa;    
$colorSuccessBorder: #39812c;    
$colorWarningTextStrong: #80360a;    
$colorWarningTextStrongHover: #682c08;    
$colorWarningTextStrongActive: #502206;    
$colorWarningBackground: #fce6d9;    
$colorSuccessBorderHover: #316e26;    
$colorWarningBackgroundHover: #f8c7aa;    
$colorSuccessBorderActive: #285b1f;    
$colorWarningBackgroundActive: #f4a87b;    
$colorWarningBackgroundWeak: #ffffff;    
$colorAssistiveText: #ffffff;    
$colorWarningBackgroundWeakHover: #fce6d9;    
$colorWarningBackgroundWeakActive: #f8c7aa;    
$colorAssistiveBackground: #050d15;    
$colorWarningBackgroundStrong: #af4a0e;    
$colorWarningBackgroundStrongHover: #97400c;    
$colorWarningBackgroundStrongActive: #502206;    
$colorWarningBorder: #af4a0e;    
$colorAssistiveBorder: #797979;    
$colorWarningBorderHover: #97400c;    
$colorWarningBorderActive: #502206;    
$colorBrandingCoral: #ff6d70;    
$colorAssistiveBorderFocus: #6664d1;    
$colorChartsNeutral: #363636;    
$colorChartsPositive: #39812c;    
$colorChartsNegative: #c34648;    
$colorBrandingStitch: #ffcc00;    
$colorBrandingLowcostBackground: #d9d9d9;    
